@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:before,
:after {
 content: '';
 display: block;
 position: absolute;
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 font: 16px/1 'Open Sans', sans-serif;
 color: #555;
 background: lavender;
}

body {
 padding: 50px;
}

.togglebox {
 width: 300px;
 height: 350px;
 margin: 0 auto;
 background: #f05999;
}

input[type="radio"] {
 position: absolute;
 opacity: 0;
}

label {
 position: relative;
 display: block;
 height: 50px;
 line-height: 50px;
 padding: 0 20px;
 font-size: 14px;
 font-weight: bold;
 color: rgba(255, 255, 255, 0.5);
 background: #ac203b;
 cursor: pointer;
}

label:hover {
 background: #1f2d3a;
}

label:after {
 content: '\f078';
 top: 0px;
 right: 20px;
 font-family: fontawesome;
}

.content {
 height: 0;
 overflow: hidden;
}

input[type="radio"]:checked ~ label {
 color: rgba(255, 255, 255, 0.8);
}

input[type="radio"]:checked ~ label:after {
 transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
 -webkit-transform: rotate(90deg);
}

input[type="radio"]:checked ~ .content {
 height: 150px;
}

p {
 margin: 15px 0;
 padding: 0 20px;
 font-size: 11px;
 line-height: 1.5;
 color: rgba(255, 255, 255, 0.8);
}